:root {
    --primary: #17153B;
    --secondary: #2E236C;
    --tertiary: #433D8B;
    --on-primary: #C8ACD6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.0rem;
    /* Footer height */
}